.jobMain {
    position: relative;
    width: 1300px;
    height: 1020px;
    margin: 30px auto;
    
}

.jobTable {
    margin-bottom: 1.5px;
    max-height: 360px;
}

.box {
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px;
}

.header {
    display: flex;
    width: 26%;
    flex-direction: column;
}

.companyName {
    font-size: 20px;
    font-weight: lighter;
    color: rgb(79, 79, 79);
}

.body {
    display: flex;
    width: 45%;
    gap: 25px;
    flex-direction: column;
}

.Name {
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.stackName {
    color: gray;
    font-size: 17px;
}

.sub {
    display: flex;
    width: 15%;
    gap: 10px;
    flex-direction: column;
}

.Label {
    color: gray;
    font-size: 15px;
}

.footer {
    display: flex;
    width: 15%;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.alink {
    text-decoration: none;
}

.button {
    cursor: pointer;
    margin-top: 5px;
    width: 100px;
    height: 35px;
    border-color: rgb(255, 133, 26);
    font-weight: lighter;
    color: rgb(255, 133, 26);
    background-color: white;
    border-radius: 5px;
}

.pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #0056b3;
}
  
.pagination button .active {
    background-color: #000e1e;
    color: #fff;
}
  